name: Release Geode Mod

on:
    push:
        tags:
            - "v*"

jobs:
    build:
        strategy:
            fail-fast: false

            matrix:
                config:
                    - name: Windows
                      os: windows-latest
                      build-type: RelWithDebInfo

                    - name: macOS
                      os: macos-latest

                    - name: iOS
                      os: macos-latest
                      target: iOS

                    - name: Android32
                      os: ubuntu-latest
                      target: Android32

                    - name: Android64
                      os: ubuntu-latest
                      target: Android64

        name: ${{ matrix.config.name }}
        runs-on: ${{ matrix.config.os }}

        steps:
            - uses: actions/checkout@v4

            - name: Build the mod
              uses: geode-sdk/build-geode-mod@main
              with:
                  combine: true
                  export-pdb: true
                  target: ${{ matrix.config.target }}
                  build-config: ${{ matrix.config.build-type || 'Release'}}

    package:
        name: Package Builds
        runs-on: ubuntu-latest
        needs: ["build"]

        steps:
            - uses: geode-sdk/build-geode-mod/combine@main
              id: build

            - uses: actions/upload-artifact@v4
              with:
                  name: Build Output
                  path: ${{ steps.build.outputs.build-output }}

    release:
        name: Release
        runs-on: ubuntu-latest
        needs: ["package"]
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4

            - name: Get latest release tag
              id: getrelease
              run: echo "tag=$(curl -s https://api.github.com/repos/${{ github.event.repository.full_name }}/releases/latest | jq -r '.tag_name // "v0.0.0"')" >> $GITHUB_OUTPUT

            - name: Publish release
              id: publish-release
              uses: hiimjasmine00/release-geode-mod@main
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - uses: actions/download-artifact@v4
              with:
                  path: ./artifacts/

            - name: Check for Discord webhook URL
              id: check-discord
              run: echo "has-nightly-webhook=${{ secrets.NIGHTLY_WEBHOOK != '' }}" >> $GITHUB_OUTPUT

            - name: Send Discord webhook
              if: ${{ steps.check-discord.outputs.has-nightly-webhook == 'true' }}
              uses: prevter/discord-webhook@main
              with:
                  webhook-url: ${{ secrets.NIGHTLY_WEBHOOK }}
                  files: ./artifacts/Build Output/*.geode
                  embed-title: "[${{ github.repository }}] Release `${{ github.ref_name }}`"
                  embed-description: |
                      ${{ steps.publish-release.outputs.changelog }}

                      > [`Changes since previous release`](${{ github.event.repository.html_url }}/compare/${{ steps.getrelease.outputs.tag }}...${{ github.ref_name }})
                  embed-color: "#3fb950"
                  embed-url: ${{ github.event.repository.html_url }}/releases/tag/${{ github.ref_name }}
                  embed-author: ${{ github.actor }}
                  embed-author-icon: "https://avatars.githubusercontent.com/u/${{ github.actor_id }}?v=4"
                  embed-thumbnail: "https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ github.event.repository.default_branch }}/logo.png"
                  embed-timestamp: "now"

    geode:
        name: Publish to Geode
        runs-on: ubuntu-latest
        needs: ["release"]

        steps:
            - uses: actions/checkout@v4

            - name: Publish to Geode
              uses: hiimjasmine00/release-geode-mod/publish@main
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
